<h1>Post#show</h1>

<% if @post.user == nil %>
    <p><%= @post.text %> | posted by <%= @post.user %></p>
    <% else%>
    <p><%= @post.text %> | posted by #TODO</p>
<% end %>
<p><%= link_to 'Edit', edit_post_path(@post) %>, <%=link_to 'Posts_index', post_index_path  %> </p>

